.body_background{
background-image: url("https://i.postimg.cc/2y02f4Mj/avenger-bg.jpg");
text-align: center;
text-emphasis-color: white;
font-family: cursive;
background-position: center;
}
#myCanvas{
    border-width: 10px;
    border-style: ridge;
    background-color: azure;
}